{% extends '_layout.html' %} {% block head %}
<style>
  .x.axis line {
    shape-rendering: auto;
  }

  .y.axis {}

  .line {
    fill: none;
    stroke: #000;
    stroke-width: 1.5px;
  }

  #timeseries svg {
    width: 100%;
    height: 200px;
  }

</style>
{% endblock %} {% block body %}
<div class="starter-template">
  <h1>Expense Reports</h1>
  <div id='timeseries'>
  </div>
</div>
{% endblock %} {% block footer %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.5/d3.min.js" charset="utf-8"></script>
<script>
  var n = 40,
    random = d3.random.normal(3000, 1000);

  function chart(domain, interpolation, container) {
    var data = d3.range(n).map(function() {
      return 0; //random();
    });

    var margin = {
        top: 6,
        right: 0,
        bottom: 6,
        left: 40
      },
      width = 960 - margin.right,
      height = 120 - margin.top - margin.bottom;

    var x = d3.scale.linear()
      .domain(domain)
      .range([0, width]);

    var y = d3.scale.linear()
      .domain([0, 6000])
      .range([height, 0]);

    var line = d3.svg.line()
      .interpolate(interpolation)
      .x(function(d, i) {
        return x(i);
      })
      .y(function(d, i) {
        return y(d);
      });

    var svg = d3.select(container).append("svg")
      .append("g")
      .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

    svg.append("defs").append("clipPath")
      .attr("id", "clip")
      .append("rect")
      .attr("width", width)
      .attr("height", height);

    svg.append("g")
      .attr("class", "y axis")
      .call(d3.svg.axis().scale(y).ticks(5).orient("left"));

    var path = svg.append("g")
      .attr("clip-path", "url(#clip)")
      .append("path")
      .datum(data)
      .attr("class", "line")
      .attr("d", line);

    var tick = function(val) {
      data.push(val);

      // redraw the line, and then slide it to the left
      path
        .attr("d", line)
        .attr("transform", null)
        .transition()
        .attr("transform", "translate(" + x(-1) + ")");

      // pop the old data point off the front
      data.shift();
    };

    if (!!window.EventSource) {
      var source = new EventSource('/stream');
      source.addEventListener('message', function(e) {
        var val = parseInt(e.data) || 0
        tick(val);
      }, false);
    } else {
      alert('No SSE for ya!');
    }

  };

</script>

<script>
  (function() {

    chart([0, n - 1], "linear", "#timeseries");

  })();

</script>
{% endblock %}
